/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

.panel {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #e2e2e2;
  width: 30%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1024px) {
  .panel {
    width: 40%;
  }
}

@media (max-width: 736px) {
  .panel {
    width: 60%;
  }
}

@media (max-width: 414px) {
  .panel {
    width: 80%;
  }
}

.panel__top {
  height: 20%;
}

.panelClose {
  margin-left: -30%;
}

@media (max-width: 1024px) {
  .panelClose {
    margin-left: -40%;
  }
}

@media (max-width: 736px) {
  .panelClose {
    margin-left: -60%;
  }
}

@media (max-width: 414px) {
  .panelClose {
    margin-left: -80%;
  }
}

.list {
  height: 80%;
  overflow: auto;
}

.toggleBtn {
  width: 50px;
  height: 50px;
  background-color: #e2e2e2;
  position: absolute;
  top: 5%;
  left: 99%;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  -webkit-box-shadow: 4px 2px 3px 0px black;
          box-shadow: 4px 2px 3px 0px black;
}

@media (max-width: 320px) {
  .forward {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */